.Button button {
  border: none;
  border-radius: 3px;
  outline-color: grey;
  background-color: 
  #f6f8f2;
}

.qty-btn {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  background-color: white;
}

.qty-btn:hover {
  background-color: rgba(255, 217, 0, 0.3);
}


.del-btn {
  width: 25px;
  height: 20px;
  font-weight: 600;
  
}

.del-btn:hover {
  background-color: rgba(244, 165, 96, 0.2);
}

.add-btn {
  width: 150px;
  padding: 8px 10px;
  font-size: 1.1rem;
}

.add-btn:hover {
  background-color: rgba(70, 131, 180, 0.3);
}

.save-btn {
  width: 80px;
  padding: 8px 10px;
  font-size: 1.1rem;
  /* background-color: lightgreen; */
  border: none;
  border-radius: 3px;
  outline: none;
}
