.Button button {
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  outline-color: grey;
}

.qty-btn {
  width: 20px;
  height: 20px;
}

.del-btn {
  width: 25px;
  height: 20px;
  font-weight: 600;
  background-color: white;
}

.del-btn:hover {
  background-color: rgba(244, 165, 96, 0.3);
}

.add-btn {
  width: 150px;
  padding: 8px 10px;
  font-size: 1.1rem;
}

.save-btn {
  width: 80px;
  padding: 8px 10px;
  font-size: 1.1rem;
  background-color: lightgreen;
  border: none;
  border-radius: 3px;
  outline: none;
}
