.CategoryCard {
  border-radius: 3px;
}

.CategoryTitle {
  font-weight: bold;
  font-size: 20px;
}

.CategoryWrapper {
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
  background-color: white;
}

.Category .TotalListWeight {
  padding-right: 20px;
  text-align: right;
  font-weight: 600;
}

.categoryFooter {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
}