ul li div.gl-nav-element {
  display: block;
  padding: 0 15px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s;
}

nav ul div.gl-nav-element:hover {
  background-color: rgba(0, 0, 0, 0.1);
}