.semitransparent-container {
  margin-top:  20px;
  margin-bottom: 20px;
  background-color:rgba(224, 247, 250, 0.5);
  padding: 20px;
}

.gear-list-board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem 1rem 0.75rem;
}

.divider {
  margin-bottom: 1rem;
}

.card-image {
  background: #00695c;
}

.input-field label {
  color: #424242;
}

.input-field input:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid  #424242;
}

.image-overlay {
  object-fit: cover;
  opacity: 0.55;
}

.collection-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapsible {
  border: none;
}

.collapsible-body {
  padding: 0;
}

.collapsible-header {
  justify-content: space-between;
}

.collapsible-header-item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.delete,
.expand {
  margin-right: 0.3rem;
  padding: 0;
}

.material-icons.delete,
.material-icons.expand {
  margin-right: 0;
  font-size: 1.4rem;
}