@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

body {
  height: 100%;
  margin: 0;
  padding: 10px 20px;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(118, 149, 70, 0.342);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
